{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}

<section id="about3">
  <div class="container">
    <div class="row justify-content-md-around justify-content-center align-items-center">
         <div class="col-11 col-md-5 my-3">
              <h1 class="text-title mb-3">The Finest Ways To Manage Your Finances</h1>
              <p class="text-muted mt-2 fs-5">Built for visually impaired users<br/> no hidden fees 
              </p>
         </div>
         <div class="col-11 col-md-5 my-3">
          <img src="https://cdn.discordapp.com/attachments/907713632421425186/914561991765540946/unknown.png" alt="" class="w-100 img-cover">
     </div>
    </div>
</div>
</section>



<section id="about1">
  <div class="container">
    <div class="row justify-content-md-around justify-content-center align-items-center">
         <div class="col-11 col-md-5 my-3">
              <img src="https://cdn.discordapp.com/attachments/907713632421425186/914561718531801138/unknown.png" alt="" class="w-100 img-cover">
         </div>
         <div class="col-11 col-md-5 my-3">
              <h1 class="text-title mb-3">Easy Access</h1>
              <p class="text-muted mt-2 fs-5">Many banks offer links to their accessibility policies, and special links that leads to detailed instructions describing how to use their online resources with a screen reader. 
                However, Finest provides a voice assistant system that does not require a screen reader or other’s help. It can be easily accessed by those who struggle from vision impairments. 
                <br>
                Once you add your voice to our system, our voice assistant will response when you call out its name. Our assistant will help visually impaired people to hear the world of finances. 
                It assists users in using basic features such as making transfer, checking account balance, and more.
              </p>
         </div>
    </div>
</div>
</section>


<section id="about2">
  <div class="container">
    <div class="row justify-content-md-around justify-content-center align-items-center">
         <div class="col-11 col-md-5 my-3">
              <h1 class="text-title mb-3">Explore All The Features</h1>
              <p class="text-muted mt-2 fs-5">Finest does not only offer basic features of fin-tech website, but it also provides speical features for visually impaired individuals such as tracking order and free virtual finance knowledge sessions. 
                Without having to visit other websites for tracking packages, individuals can easily track theirs on Finest. 
                <br>
                One of the most speical features of Finest is our voice assistant, Clover, who is also our mascot. Clover is more than just the artifical, robotic voices that responds insincerely. 
                Clover will help you observe through our features once you make a new account and guide you through the system. Clover is here to assist you!
              </p>
         </div>
         <div class="col-11 col-md-5 my-3">
          <img src="https://cdn.discordapp.com/attachments/907713632421425186/914563176153088040/unknown.png" alt="" class="w-100 img-cover">
     </div>
    </div>
</div>
</section>


<section id="contactUs">
  <div class="container">
    <div class="row justify-content-md-around justify-content-center align-items-center">
         <div class="col-11 col-md-5 my-3">

<section class="contact section" id="contact">


        <div class="contact_container bd_grid">
          <form method="post" action="https://getform.io/f/d1ea678e-d0fb-4777-90c9-e2155cd91e1a">

        <div class="form-group my-4">
        <input type="text" class="control_input"  id="name" placeholder="Name" name="name">
        </div>

    <div class="form-group my-4">
      <input type="email" class="control_input" id="email"  placeholder="Email" name="email">
    </div>

       <div class="form-group my-4">
          <input class="control_input" id="subject" name="subject" placeholder="Subject" type="subject">
       </div>


        <div class="form-group my-4">
          <textarea class="control_input" id="desc" rows="5" placeholder="Message" name="desc"></textarea>
         </div>

        <button type="submit" class="control_button" data-aos="fade-right" data-aos-delay="450">Submit</button>

        </form>
            </div>
               </section>

         </div>
         <div class="col-11 col-md-5 my-3">
          <h1 class="text-title mb-3">Contact Us</h1>
          <h5 class="text-title mb-3">Need to talk to us directly?</h5>
          <p class="text-muted mt-2 fs-5">
            Looking for help with activities like logging in, setting up a direct deposit or replacing a lost/damaged card?
            <br><br>
            Please leave your full name, email address and message (optional). 
            <br> 
            One of our agents will contact you shortly! Please wait patiently.
          </p>
     </div>
    </div>
</div>
</section>




{% endblock body %}
